@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-[#0d1117];
	}

	* {
		@apply font-mono;
	}

	footer a,
	.markdown a {
		@apply underline hover:no-underline;
	}

	.markdown p {
	}

	.middle-pane-medium {
		@apply max-w-7xl mx-auto px-4 xl:px-0;
	}
	.middle-pane-big {
		@apply max-w-screen-2xl mx-auto px-6 2xl:px-0;
	}

	.button {
		@apply px-3 py-1.5 text-black bg-white border border-black;
	}
	.button:hover {
		@apply text-white bg-black border border-white;
	}
	.section-header {
		@apply text-3xl md:text-5xl mb-8 md:mb-16 font-bold pt-10;
	}

	.text-mild {
		@apply text-white/70;
	}
	.text-supermild {
		@apply text-white/40;
	}

	table.table-custom {
		@apply text-base;
	}
	.table-custom td,
	.table-custom th {
		@apply px-2 py-3 md:px-4 md:py-4 align-top;
	}
	.table-custom th {
		@apply text-mild;
	}
	.table-custom tbody tr:hover td {
		@apply bg-white text-black;
	}
	.table-custom tbody tr:hover td .description {
		@apply text-black;
	}
	.table-custom td {
		@apply border border-b-0 border-l-0 border-r-0 border-gray-600;
	}
	.table-custom td.time {
		@apply text-sm;
	}

	.external::after {
		padding-left: 10px;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' aria-hidden='true' viewBox='0 0 24 24' class='iconExternalLink_nPIU'%3E%3Cpath fill='white' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'%3E%3C/path%3E%3C/svg%3E");
	}
	.external.external-mild::after {
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.5' height='13.5' aria-hidden='true' viewBox='0 0 24 24' class='iconExternalLink_nPIU'%3E%3Cpath fill='silver' d='M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z'%3E%3C/path%3E%3C/svg%3E");
	}
	.person-item:hover img {
		@apply grayscale-0 invert-0 blur-none;
	}
	.person-item:hover .text-mild, .person-item:hover .text-supermild {
		@apply text-black;
	}
}
